.hero {
    background-image: url(https://millicanpecan.com/cdn/shop/files/Millican_Pecan_Fresh_Pecans_slider-4_f1d07227-a33b-4e86-b74f-d61a2bfa22fb.jpg?v=1614404728);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: -250px;
}